@import 'fonts.css';
@media {
    html {
        font-size: 8.9px;
    }
    .left-side {
        margin: 30px 15px 30px 35px;
    }
    .cv {
        margin: 0;
        display: grid;
        grid-template-columns: 34% 2% 64%;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 200px;
        width: 153px;
        height: 153px;
    }
    .profession {
        margin-top: 10px;
    }
    .name {
        margin-top: 15px;
    }
    .coordinates {
        margin-top: 30px;
    }
    .coordinates span {
        padding-right: 5px;
        width: 15px;
        height: 15px;
    }
    .language-content .language-logo {
        width: 15px;
        height: 15px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin-top: 3px;
    }
    .section-title {
        margin: 30px 0 10px;
    }
    .skill {
        margin-bottom: 4px;
    }
    .scale {
        height: 6px;
    }
    .scale.first-scale.lang {
        left: 38%;
        width: 47%;
    }
    .middle-line {
        background: linear-gradient(180deg, #77e0c7 -56.41%, rgba(119, 224, 199, 0) 85.33%);
    }
    .right-side {
        margin: 30px 35px 30px 15px;
    }
    .overlay-button {
        right: calc(35px + 8px);
    }
    .section-title.profile-title {
        margin-top: 0;
    }
    .language-content {
        padding: 4px;
    }
    .sub-section-title {
        margin: 5px 0 3px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 3px;
    }
    .hobby-text {
        padding-bottom: 4px;
    }
}
@media (max-width: 600px) {
    html {
        font-size: 15px;
    }
    .left-side,
    .right-side {
        margin: 0 10px;
    }
    .overlay-button {
        right: calc(10px + 8px);
    }
    .cv {
        margin: 0;
        padding: 10px 0;
        display: flex;
        flex-direction: column;
        align-content: start;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 300px;
        width: 229px;
        height: 229px;
    }
    .profession {
        margin-top: 10px;
    }
    .name {
        margin-top: 30px;
    }
    .coordinates {
        width: max-content;
        margin: 30px auto;
    }
    .coordinates span {
        padding-right: 5px;
        width: 22px;
        height: 22px;
    }
    .language-content .language-logo {
        width: 22px;
        height: 22px;
    }
    .tel,
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin: 3px;
        width: max-content;
    }
    .section-title,
    .section-title.profile-title {
        margin: 30px 0 10px;
    }
    .skill {
        margin-bottom: 4px;
    }
    .scale {
        height: 9px;
    }
    .scale.first-scale.lang {
        left: 25%;
        width: 60%;
    }
    .middle-line {
        display: none;
    }
    .language-content {
        padding: 4px;
    }
    .sub-section-title {
        margin: 5px 0 3px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 3px;
    }
    .hobby-text {
        padding-bottom: 4px;
    }
}
@media (max-width: 528px) {
    html {
        font-size: 13px;
    }
}
@media (max-width: 456px) {
    html {
        font-size: 11px;
    }
}
@media (max-width: 390px) {
    html {
        font-size: 10px;
    }
    .left-side,
    .right-side {
        margin: 0 6px;
    }
    .overlay-button {
        right: calc(6px + 8px);
    }
    .cv {
        margin: 0;
        padding: 6px 0;
        display: flex;
        flex-direction: column;
        align-content: start;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 200px;
        width: 152px;
        height: 152px;
    }
    .profession {
        margin-top: 6px;
    }
    .name {
        margin-top: 20px;
    }
    .coordinates {
        width: max-content;
        margin: 20px auto;
    }
    .coordinates span {
        padding-right: 3px;
        width: 15px;
        height: 15px;
    }
    .language-content .language-logo {
        width: 15px;
        height: 15px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin: 2px;
        width: max-content;
    }
    .section-title,
    .section-title.profile-title {
        margin: 20px 0 6px;
    }
    .skill {
        margin-bottom: 2px;
    }
    .scale {
        height: 6px;
    }
    .scale.first-scale.lang {
        left: 25%;
        width: 60%;
    }
    .middle-line {
        display: none;
    }
    .language-content {
        padding: 2px;
    }
    .sub-section-title {
        margin: 3px 0 2px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 2px;
    }
    .hobby-text {
        padding-bottom: 2px;
    }
}
@media (max-width: 359px) {
    html {
        font-size: 9px;
    }
}
@media (max-width: 328px) {
    html {
        font-size: 8px;
    }
    .left-side,
    .right-side {
        margin: 0 5px;
    }
    .overlay-button {
        right: calc(5px + 8px);
    }
    .cv {
        margin: 0;
        padding: 5px 0;
        display: flex;
        flex-direction: column;
        align-content: start;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 150px;
        width: 114px;
        height: 114px;
    }
    .profession {
        margin-top: 5px;
    }
    .name {
        margin-top: 15px;
    }
    .coordinates {
        width: max-content;
        margin: 30px auto;
    }
    .coordinates span {
        padding-right: 2px;
        width: 11px;
        height: 11px;
    }
    .language-content .language-logo {
        width: 11px;
        height: 11px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin: 1px;
        width: max-content;
    }
    .section-title,
    .section-title.profile-title {
        margin: 30px 0 10px;
    }
    .skill {
        margin-bottom: 2px;
    }
    .scale {
        height: 4px;
    }
    .scale.first-scale.lang {
        left: 25%;
        width: 60%;
    }
    .middle-line {
        display: none;
    }
    .language-content {
        padding: 1px;
    }
    .sub-section-title {
        margin: 2px 0 1px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 1px;
    }
    .hobby-text {
        padding-bottom: 2px;
    }
}
@media (min-width: 650px) {
    html {
        font-size: 9.9px;
    }
}
@media (min-width: 700px) {
    html {
        font-size: 12px;
    }
}
@media (min-width: 750px) {
    html {
        font-size: 13px;
    }
}
@media (min-width: 800px) {
    html {
        font-size: 14px;
    }
}
@media (min-width: 850px) {
    html {
        font-size: 15px;
    }
    .left-side {
        margin: 30px 15px 30px 35px;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 300px;
        width: 229px;
        height: 229px;
    }
    .profession {
        margin-top: 10px;
    }
    .name {
        margin-top: 15px;
    }
    .coordinates {
        margin-top: 30px;
    }
    .coordinates span {
        padding-right: 5px;
        width: 22px;
        height: 22px;
    }
    .language-content .language-logo {
        width: 22px;
        height: 22px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin-top: 3px;
    }
    .section-title {
        margin: 30px 0 10px;
    }
    .skill {
        margin-bottom: 4px;
    }
    .scale {
        height: 9px;
    }
    .right-side {
        margin: 30px 35px 30px 15px;
    }
    .overlay-button {
        right: calc(35px + 8px);
    }
    .language-content {
        padding: 4px;
    }
    .sub-section-title {
        margin: 5px 0 3px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 3px;
    }
    .hobby-text {
        padding-bottom: 4px;
    }
}
@media (min-width: 900px) {
    html {
        font-size: 16px;
    }
}
@media (min-width: 950px) {
    html {
        font-size: 17px;
    }
}
@media (min-width: 1000px) {
    html {
        font-size: 18px;
    }
}
@media (min-width: 1050px) {
    html {
        font-size: 19px;
    }
}
@media (min-width: 1100px) {
    html {
        font-size: 20px;
    }
}
@media (min-width: 1150px) {
    html {
        font-size: 21px;
    }
}
@media (min-width: 1200px) {
    html {
        font-size: 21px;
    }
    .left-side {
        margin: 45px 22px 45px 45px;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 400px;
        width: 306px;
        height: 306px;
    }
    .profession {
        margin-top: 15px;
    }
    .name {
        margin-top: 22px;
    }
    .coordinates {
        margin-top: 45px;
    }
    .coordinates span {
        padding-right: 7px;
        width: 30px;
        height: 30px;
    }
    .language-content .language-logo {
        width: 30px;
        height: 30px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin-top: 4px;
    }
    .section-title {
        margin: 45px 0 25px;
    }
    .skill {
        margin-bottom: 6px;
    }
    .scale {
        height: 12px;
    }
    .right-side {
        margin: 45px 52px 45px 22px;
    }
    .overlay-button {
        right: calc(52px + 8px);
    }
    .language-content {
        padding: 6px;
    }
    .sub-section-title {
        margin: 7px 0 4px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 4px;
    }
    .hobby-text {
        padding-bottom: 6px;
    }
}
@media (min-width: 1250px) {
    html {
        font-size: 22px;
    }
}
@media (min-width: 1300px) {
    html {
        font-size: 23px;
    }
}
@media (min-width: 1350px) {
    html {
        font-size: 24px;
    }
}
@media (min-width: 1400px) {
    html {
        font-size: 25px;
    }
}
@media (min-width: 1450px) {
    html {
        font-size: 26px;
    }
}
@media (min-width: 1500px) {
    html {
        font-size: 27px;
    }
}
@media (min-width: 1550px) {
    html {
        font-size: 28px;
    }
}
@media (min-width: 1600px) {
    html {
        font-size: 29px;
    }
}
@media (min-width: 1650px) {
    html {
        font-size: 30px;
    }
}
@media (min-width: 1700px) {
    html {
        font-size: 31px;
    }
    .left-side {
        margin: 60px 30px 60px 70px;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 600px;
        width: 459px;
        height: 459px;
    }
    .profession {
        margin-top: 20px;
    }
    .name {
        margin-top: 30px;
    }
    .coordinates {
        margin-top: 60px;
    }
    .coordinates span {
        padding-right: 10px;
        width: 45px;
        height: 45px;
    }
    .language-content .language-logo {
        width: 45px;
        height: 45px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin-top: 6px;
    }
    .section-title {
        margin: 60px 0 20px;
    }
    .skill {
        margin-bottom: 8px;
    }
    .scale {
        height: 18px;
    }
    .right-side {
        margin: 60px 70px 60px 30px;
    }
    .overlay-button {
        right: calc(70px + 8px);
    }
    .language-content {
        padding: 9px;
    }
    .sub-section-title {
        margin: 10px 0 6px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 6px;
    }
    .hobby-text {
        padding-bottom: 8px;
    }
}
@media (min-width: 1750px) {
    html {
        font-size: 32px;
    }
}
@media (min-width: 1800px) {
    html {
        font-size: 33px;
    }
}
@media (min-width: 1850px) {
    html {
        font-size: 34px;
    }
}
@media (min-width: 1900px) {
    html {
        font-size: 35px;
    }
}
@media print {
    html {
        font-size: 12px;
    }

    body {
        margin: 0;
    }
    .left-side {
        margin: 30px 15px 30px 35px;
    }
    .cv {
        margin: 0;
        display: grid;
        grid-template-columns: 34% 2% 64%;
    }
    .circle-image {
        background: url(../images/Photo.jpg) no-repeat center;
        background-size: auto 200px;
        width: 153px;
        height: 153px;
    }
    .profession {
        margin-top: 10px;
    }
    .name {
        margin-top: 15px;
    }
    .coordinates {
        margin-top: 30px;
    }
    .coordinates span {
        padding-right: 5px;
        width: 15px;
        height: 15px;
    }
    .language-content .language-logo {
        width: 15px;
        height: 15px;
    }
    .mail,
    .telegram,
    .github,
    .linkedin,
    .address {
        margin-top: 3px;
    }
    .section-title {
        margin: 30px 0 10px;
    }
    .skill {
        margin-bottom: 4px;
    }
    .scale {
        height: 6px;
    }
    .scale.first-scale.lang {
        left: 38%;
        width: 47%;
    }
    .middle-line {
        background: linear-gradient(180deg, #77e0c7 -56.41%, rgba(119, 224, 199, 0) 85.33%);
        display: block;
    }
    .right-side {
        margin: 30px 35px 30px 15px;
    }
    .overlay-button {
        right: calc(35px + 8px);
    }
    .section-title.profile-title {
        margin-top: 0;
    }
    .language-content {
        padding: 4px;
    }
    .sub-section-title {
        margin: 5px 0 3px;
    }
    .sub-section-title-sub-title {
        margin-bottom: 3px;
    }
    .hobby-text {
        padding-bottom: 4px;
    }
    .overlay-button {
        display: none;
    }
}
:root {
    --text-color: #333333;
    --title-color: #242732;
    --sub-section-color: #999999;
}
html {
    background-color: #169576;
}
* {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
}
.cv {
    background-color: white;
}
.circle-image {
    border-radius: 50%;
    margin: auto;
}
.profession {
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--text-color);
}
.name {
    font-weight: bold;
    font-size: 1.3rem;
    text-align: center;
    letter-spacing: 0.15em;
    color: var(--title-color);
}
.coordinates {
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}
.coordinates span,
.language-content span {
    display: inline-block;
    vertical-align: middle;
}
.coordinates a {
    text-decoration: none;
    color: var(--text-color);
}
.coordinates div {
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}
.tel-logo {
    background: url(../images/Tel_black.png) no-repeat;
    background-size: contain;
}
.mail-logo {
    background: url(../images/Mail.png) no-repeat;
    background-size: contain;
}
.telegram-logo {
    background: url(../images/Telegram_black.png) no-repeat;
    background-size: contain;
}
.github-logo {
    background: url(../images/GitHub_white.png) no-repeat;
    background-size: contain;
}
.linkedin-logo {
    background: url(../images/LinkedIn_black.png) no-repeat;
    background-size: contain;
}
.address-logo {
    background: url(../images/Address.png) no-repeat;
    background-size: contain;
}
.language-logo {
    background: url(../images/Language_Planet_black.png) no-repeat;
    background-size: contain;
}
.overlay-button:hover .language-logo {
    background: url(../images/Language_Planet_white.png) no-repeat;
    background-size: contain;
}
.section-title {
    font-weight: 600;
    font-size: 1.3rem;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: var(--title-color);
}
.skill > span {
    display: inline-block;
    width: 15%;
}
.skill {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.05em;
    color: var(--text-color);
}
.scale {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}
.scale.first-scale {
    left: 25%;
    width: 60%;
    background: rgba(22, 149, 118, 0.2);
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.scale.second-scale {
    display: block;
    background: #169576;
    transform: matrix(1, 0, 0, -1, 0, 0);
}
.Python.scale.second-scale {
    width: 70%;
}
.JavaScript.scale.second-scale {
    width: 80%;
}
.HTMLCSS.scale.second-scale {
    width: 60%;
}
.Django.scale.second-scale {
    width: 70%;
}
.NodeJS.scale.second-scale {
    width: 70%;
}
.Express.scale.second-scale {
    width: 80%;
}
.React.scale.second-scale {
    width: 50%;
}
.Sequelize.scale.second-scale {
    width: 80%;
}
.SQL.scale.second-scale {
    width: 50%;
}
.French.scale.second-scale {
    width: 80%;
}
.English.scale.second-scale {
    width: 70%;
}
.Ukrainian.scale.second-scale {
    width: 100%;
}
.Russian.scale.second-scale {
    width: 100%;
}
.text {
    font-weight: normal;
    font-size: 0.9rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}
.sub-section-title {
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.05em;
    color: var(--text-color);
}
.sub-section-title-sub-title {
    font-weight: 500;
    font-size: 0.8rem;
    letter-spacing: 0.03em;
    color: var(--sub-section-color);
}
.in-parentheses {
    font-size: 0.7rem;
    font-style: italic;
}
.hobby-background {
    width: 100%;
    background: #f7f6f6;
    mix-blend-mode: darken;
    border: 1px dashed #f7f6f6;
}
div.hobby-text,
span.hobbies {
    font-family: 'PT Mono', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 0.98rem;
    letter-spacing: 0.05em;
    color: #333333;
}
.hobbies {
    margin-left: 7.4%;
}
.overlay-button {
    position: absolute;
    width: max-content;
    background-color: rgb(193, 235, 223);
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}
.overlay-button:hover {
    background-color: #169576;
    color: white;
}
.overlay {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.9);
    overflow-x: hidden;
    transition: 0.8s;
}
.overlay-content {
    position: relative;
    top: 35%;
    width: 100%;
    text-align: center;
    margin-top: 4%;
}
.overlay span {
    text-decoration: none;
    font-size: 2rem;
    color: #818181;
    display: block;
    width: max-content;
    margin: 1.5% auto;
    transition: 0.3s;
    cursor: pointer;
}
.overlay span:hover {
    color: #f1f1f1;
}
.overlay .close-btn {
    position: absolute;
    top: 5%;
    right: 7%;
    font-size: 4.5rem;
    margin: 0;
}
